@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Barlow";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(31, 35, 39, 0.2);
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #14171A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}

.socials__item {
  display: inline-block;
}

.main-page {
  position: relative;
}

.main-page__container {
  position: relative;
  z-index: 2;
}

.main-page__content {
  max-width: 46.625rem;
  color: #FFF;
}

.main-page__quote {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.main-page__title {
  font-weight: 700;
  line-height: 1.171875;
  text-transform: uppercase;
}

.main-page__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.main-page__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 125%;
}

.main-page__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-page__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  position: relative;
  color: #FFF;
  display: inline-block;
  padding: 1.25rem 3.375rem 1.25rem 1.25rem;
  background-color: #E11B19;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/arrow.svg");
}

.page__members {
  background-color: #191C1F;
}

.members__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.members__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.members__text {
  color: #FFF;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.text__below {
  font-size: 1.5rem;
  line-height: 125%;
}

.text__below--big {
  font-size: 2.25rem;
}

.page__training {
  background-color: #1F2327;
}

.training__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.training__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.65%;
          flex: 0 1 48.65%;
  position: relative;
  padding-bottom: 33.88%;
}

.training__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.training__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.8596491228%;
          flex: 0 1 38.8596491228%;
  text-transform: uppercase;
  color: #FFF;
}

.training__about {
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
}

.training__about:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.training__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 111%;
}

.training__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.training__item {
  position: relative;
  font-weight: 700;
  line-height: 125%;
  font-size: 1rem;
  min-height: 1.5rem;
  padding-left: 2.5rem;
  padding-top: 0.125rem;
}

.training__item:not(:last-child) {
  margin-bottom: 0.875rem;
}

.training__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/check.svg") center no-repeat;
}

.page__leader {
  background-color: #191C1F;
}

.leader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leader__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.8596491228%;
          flex: 0 1 38.8596491228%;
  text-transform: uppercase;
  color: #FFF;
}

.leader__meet {
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
}

.leader__meet:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.leader__title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 111%;
}

.leader__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.leader__text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 138%;
  text-transform: none;
}

.leader__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.65%;
          flex: 0 1 48.65%;
  position: relative;
  padding-bottom: 33.88%;
}

.leader__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.academy {
  position: relative;
}

.academy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: radial-gradient(570.45% 265.28% at 47.92% 0%, #191C1F 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%);
}

.academy__container {
  position: relative;
  z-index: 2;
}

.academy__body {
  color: #FFF;
  max-width: 46.625rem;
  margin: 0 auto;
  text-align: center;
}

.academy__first {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1111111111;
}

.academy__first:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.academy__title {
  font-weight: 700;
  line-height: 1.171875;
  text-transform: uppercase;
}

.academy__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.academy__text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.academy__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.academy__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.academy__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 61.99875em) {
  .training__body {
    padding-left: 7.5rem;
  }

  .leader__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .leader__body {
    padding-right: 6.875rem;
  }
}

@media (min-width: 71.25em) {
  .header__container {
    min-height: 5.625rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .main-page__container {
    padding-top: 10.625rem;
  }

  .main-page__container {
    padding-bottom: 10.625rem;
  }

  .main-page__title {
    font-size: 4rem;
  }

  .main-page__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .members__container {
    padding-top: 3.75rem;
  }

  .members__container {
    padding-bottom: 3.75rem;
  }

  .page__training {
    padding-top: 7.5rem;
  }

  .page__training {
    padding-bottom: 3.75rem;
  }

  .training__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .page__leader {
    padding-top: 7.5rem;
  }

  .page__leader {
    padding-bottom: 3.75rem;
  }

  .page__academy {
    padding-top: 5rem;
  }

  .page__academy {
    padding-bottom: 5rem;
  }

  .academy__title {
    font-size: 4rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    min-height: 3.75rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .main-page__container {
    padding-top: 7.5rem;
  }

  .main-page__container {
    padding-bottom: 5rem;
  }

  .main-page__title {
    font-size: 3.375rem;
  }

  .main-page__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .members__container {
    padding-top: 1.875rem;
  }

  .members__container {
    padding-bottom: 1.875rem;
  }

  .page__training {
    padding-top: 3.75rem;
  }

  .page__training {
    padding-bottom: 1.875rem;
  }

  .page__leader {
    padding-top: 3.75rem;
  }

  .page__leader {
    padding-bottom: 1.875rem;
  }

  .page__academy {
    padding-top: 1.875rem;
  }

  .page__academy {
    padding-bottom: 1.875rem;
  }

  .academy__title {
    font-size: 3.375rem;
  }
}

@media (max-width: 61.99875em) {
  .members__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .members__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .training__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .training__image {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .training__body {
    padding-bottom: 1.875rem;
  }

  .leader__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .leader__body {
    padding-bottom: 1.875rem;
  }

  .leader__image {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (max-width: 41.25rem) {
  .members__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .button {
    width: 3.75rem;
    height: 3.75rem;
    padding: 0;
    font-size: 0;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (min-height: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .header__container {
      min-height: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 3.0182926829rem  +  3.6585365854vw , 5.625rem )) {
    .header__container {
      min-height: calc(3.75rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .footer {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 7.5rem , 6.2804878049rem  +  6.0975609756vw , 10.625rem )) {
    .main-page__container {
      padding-top: clamp( 7.5rem , 6.2804878049rem  +  6.0975609756vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.2804878049rem  +  6.0975609756vw , 10.625rem )) {
    .main-page__container {
      padding-top: calc(7.5rem + 3.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 5rem , 2.8048780488rem  +  10.9756097561vw , 10.625rem )) {
    .main-page__container {
      padding-bottom: clamp( 5rem , 2.8048780488rem  +  10.9756097561vw , 10.625rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 2.8048780488rem  +  10.9756097561vw , 10.625rem )) {
    .main-page__container {
      padding-bottom: calc(5rem + 5.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem )) {
    .main-page__title {
      font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem )) {
    .main-page__title {
      font-size: calc(3.375rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem )) {
    .main-page__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.006097561rem  +  1.2195121951vw , 1.875rem )) {
    .main-page__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__training {
      padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__training {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page__training {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page__training {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__leader {
      padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.2865853659rem  +  7.3170731707vw , 7.5rem )) {
    .page__leader {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page__leader {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .page__leader {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .page__academy {
      padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .page__academy {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .page__academy {
      padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .page__academy {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem )) {
    .academy__title {
      font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 3.131097561rem  +  1.2195121951vw , 4rem )) {
    .academy__title {
      font-size: calc(3.375rem + 0.625 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(225, 28, 25, 0.662745098);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}