@import url(https://fonts.googleapis.com/css?family=Playfair:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(255, 255, 255);
  line-height: 1;
  font-family: "Playfair Display";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Playfair Display";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-weight: 500;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #1E1E1E;
  font-weight: 700;
  border-radius: 24px;
  font-size: 1rem;
  background: #F9C06A;
  padding: 1.0625rem 1.8125rem;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
          box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__button {
  font-weight: 500;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-style__button {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.different__button {
  margin-top: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2.625rem;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__container {
  min-height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #FFF;
  font-size: 35px;
  font-family: "Clicker Script";
  position: relative;
  z-index: 2;
}

.header__button {
  position: relative;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sign-in {
  text-decoration-line: underline;
  position: relative;
  z-index: 2;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background: url("../img/footer.jpg") 0 80%/cover no-repeat; }

.footer {
  position: relative;
}

.no-webp .footer::before{
  background-image: url("../img/cofee-footer.png"); }

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-34%, -50%);
      -ms-transform: translate(-34%, -50%);
          transform: translate(-34%, -50%);
  width: 27.75rem;
  height: 22.375rem;
  z-index: 5;
}

.no-webp .footer::after{
  background-image: url("../img/cofee-footer.png"); }

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(34%, -50%) scale(-1, 1);
      -ms-transform: translate(34%, -50%) scale(-1, 1);
          transform: translate(34%, -50%) scale(-1, 1);
  width: 27.75rem;
  height: 22.375rem;
  z-index: 5;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.25rem;
}

.main-footer__contact {
  position: relative;
  z-index: 6;
}

.present-footer {
  max-width: 23.75rem;
}

.present-footer > *:not(:last-child) {
  margin-bottom: 1.25rem;
}

.present-footer__title {
  font-family: "Clicker Script";
  font-size: 3.375rem;
  font-weight: 400;
  line-height: normal;
}

.present-footer__text {
  font-weight: 400;
  line-height: 1.5714285714;
  width: 23.75rem;
}

.present-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-footer__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: normal;
}

.card-footer__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.card-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.card-footer__link {
  font-size: 1.125rem;
  font-weight: 400;
}

.contact-footer {
  max-width: 20.75rem;
}

.contact-footer__title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: normal;
}

.contact-footer__title:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.contact-footer__body {
  font-size: 1.125rem;
  font-weight: 400;
}

.contact-footer__body > *:not(:last-child) {
  margin-bottom: 1.375rem;
}

.main-coffee {
  position: relative;
  padding-top: 11.4375rem;
  padding-bottom: 5.9375rem;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-coffee__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-coffee__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-coffee__container {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-coffee__content {
  max-width: 32.5rem;
}

.main-coffee__title {
  font-size: 1.375rem;
}

.main-coffee__title span {
  font-family: "Clicker Script";
}

.main-coffee__text {
  font-size: 1.25rem;
  line-height: 1.7;
}

.main-coffee__text:not(:last-child) {
  margin-bottom: 2.125rem;
}

.page__discover-coffee {
  position: relative;
}

.page__discover-coffee::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/discover-coffee-wave.svg");
  background-repeat: no-repeat;
  width: 31.125rem;
  height: 17rem;
  z-index: -1;
}

.discover-coffee__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover-coffee__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.25rem;
          flex: 0 1 36.25rem;
  padding-right: 2.25rem;
}

.discover-coffee__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.discover-coffee__image img {
  max-width: 100%;
}

.about-coffee__title {
  color: #603809;
  font-size: 3.375rem;
  font-weight: 700;
}

.about-coffee__text {
  color: #707070;
  font-size: 1.25rem;
  line-height: 1.7;
}

.page__coffee-style {
  padding-bottom: 5.125rem;
}

.coffee-style__header:not(:last-child) {
  margin-bottom: 2rem;
}

.coffee-style__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.coffee-style__card {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}

.header-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-style__title {
  color: #603809;
  font-weight: 700;
}

.header-style__about {
  color: #707070;
  font-size: 1.25rem;
  line-height: 1.7;
}

.card-style__image-ibg {
  padding-bottom: 76.0714285714%;
}

.card-style__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.875rem;
  padding-bottom: 2.625rem;
  position: relative;
  text-align: center;
}

.card-style__title {
  font-size: 1.375rem;
  font-weight: 700;
  color: #603809;
}

.card-style__percent {
  color: #1E1E1E;
  font-size: 1rem;
}

.card-style__price {
  color: #603809;
  font-size: 1.125rem;
  font-weight: 700;
}

.page__different {
  position: relative;
}

.page__different::after {
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  background-image: url("../img/coffee_blast.svg");
  background-repeat: no-repeat;
  width: 27.625rem;
  height: 16.9375rem;
  z-index: 5;
}

.different__header:not(:last-child) {
  margin-bottom: 2rem;
}

.different__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.different__body:not(:last-child) {
  margin-bottom: 2rem;
}

.different__card {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
  padding: 2.25rem 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.different__card:first-child {
  background-color: #f3e1cb;
  border: none;
}

.different__title {
  color: #603809;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.different__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.different__text {
  color: #707070;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}

.different__ideas {
  color: #707070;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.different__ideas span {
  color: #603809;
  font-size: 2rem;
  font-weight: 700;
}

.no-webp .page__amazing{
  background: url("../img/bg-coffee.png") 0 0/cover no-repeat; }

.page__amazing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amazing__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.amazing__body {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

.amazing__title {
  font-weight: 700;
  line-height: normal;
}

.amazing__text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
}

.amazing__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3125rem;
          flex: 0 0 33.3125rem;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.page__perfection {
  position: relative;
}

.page__perfection::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/coffee_blast.svg");
  width: 27.625rem;
  height: 17rem;
  z-index: 5;
}

.page__perfection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/coffee_blast_down.svg");
  width: 24.25rem;
  height: 14.125rem;
  z-index: 5;
}

.perfection__slogan {
  position: relative;
}

.header-style--ind {
  gap: 0.25rem;
}

.header-style--ind .header-style__title--min {
  font-size: 2rem;
}

.slogan {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  max-width: 61.25rem;
  text-align: center;
  margin: 0 auto;
}

.slogan__about {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 2;
  color: #707070;
  margin-bottom: 1.75rem;
  max-width: 48.75rem;
  margin: 0 auto;
}

.slogan__about:not(:last-child) {
  margin-bottom: 1.75rem;
}

.slogan__foto {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.no-webp .page__subscribe{
  background: url("../img/bg-coffee.png") 0 0/cover no-repeat; }

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
}

.header-style__title--colour {
  color: white;
}

.header-style__about--colour {
  color: white;
}

.form {
  max-width: 40.125rem;
  background-color: #FFF9F1;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 6;
  padding: 0.3125rem;
  gap: 0.3125rem;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
  color: rgba(0, 0, 0, 0.34);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7;
}

.form__button {
  border-radius: 4px;
  color: #603809;
  font-size: 1.375rem;
  font-weight: 700;
}

@media (min-width: 47.99875em) and (min-width: 75.625em) {
  .menu__item:not(:last-child) {
    margin-right: 3.75rem;
  }
}

@media (min-width: 75.625em) {
  .header__links {
    gap: 2.1875rem;
  }

  .footer__main {
    padding-top: 10.125rem;
  }

  .footer__main {
    padding-bottom: 4.8125rem;
  }

  .footer__main {
    -webkit-column-gap: 4.125rem;
       -moz-column-gap: 4.125rem;
            column-gap: 4.125rem;
  }

  .main-coffee__title span {
    font-size: 13.75rem;
  }

  .page__discover-coffee {
    padding-top: 5.125rem;
  }

  .page__discover-coffee {
    padding-bottom: 5.125rem;
  }

  .header-style__title {
    font-size: 3.375rem;
  }

  .page__different {
    padding-bottom: 5.125rem;
  }

  .amazing {
    margin-bottom: 5.125rem;
  }

  .amazing__body {
    padding-top: 8.4375rem;
  }

  .amazing__body {
    padding-bottom: 8.4375rem;
  }

  .amazing__title {
    font-size: 3.375rem;
  }

  .page__perfection {
    margin-bottom: 8.625rem;
  }

  .perfection__header {
    margin-bottom: 2.8125rem;
  }

  .slogan {
    padding-top: 8.0625rem;
  }

  .slogan {
    padding-bottom: 6.3125rem;
  }

  .subscribe__container {
    padding-top: 5rem;
  }

  .subscribe__container {
    padding-bottom: 5rem;
  }

  .header-style__title--colour {
    font-size: 3.375rem;
  }
}

@media (max-width: 20em) {
  .header__links {
    gap: 0.625rem;
  }

  .footer__main {
    padding-top: 5rem;
  }

  .footer__main {
    padding-bottom: 1.25rem;
  }

  .footer__main {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .main-coffee__title span {
    font-size: 8.75rem;
  }

  .page__discover-coffee {
    padding-top: 1.875rem;
  }

  .page__discover-coffee {
    padding-bottom: 1.875rem;
  }

  .header-style__title {
    font-size: 2rem;
  }

  .page__different {
    padding-bottom: 1.875rem;
  }

  .amazing {
    margin-bottom: 1.875rem;
  }

  .amazing__body {
    padding-top: 5rem;
  }

  .amazing__body {
    padding-bottom: 5rem;
  }

  .amazing__title {
    font-size: 2.125rem;
  }

  .page__perfection {
    margin-bottom: 5rem;
  }

  .perfection__header {
    margin-bottom: 1.25rem;
  }

  .slogan {
    padding-top: 5rem;
  }

  .slogan {
    padding-bottom: 5rem;
  }

  .subscribe__container {
    padding-top: 2.5rem;
  }

  .subscribe__container {
    padding-bottom: 2.5rem;
  }

  .header-style__title--colour {
    font-size: 2.125rem;
  }
}

@media (max-width: 61.99875em) {
  .footer::before {
    opacity: 0.5;
  }

  .footer::after {
    opacity: 0.3;
    -webkit-transform: translate(34%, 60%) scale(-1, 1);
        -ms-transform: translate(34%, 60%) scale(-1, 1);
            transform: translate(34%, 60%) scale(-1, 1);
  }

  .footer__main {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .main-footer__present {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .page__discover-coffee::after {
    opacity: 0.4;
  }

  .coffee-style__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
  }

  .page__different::after {
    opacity: 0.4;
    z-index: -1;
  }

  .different__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .amazing__body {
    width: 100%;
  }

  .amazing__image-ibg {
    display: none;
  }

  .page__perfection::before {
    opacity: 0.5;
  }

  .page__perfection::after {
    opacity: 0.5;
  }
}

@media (max-width: 47.99875em) {
  .header__sign-in {
    font-size: 1.125rem;
    text-align: center;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    background-color: #4a3b3c;
    padding: 7.5rem 0.9375rem 1.875rem;
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 5.5rem;
    left: 0;
    top: -100%;
    background-color: rgb(56, 48, 48);
    -webkit-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    margin-left: 1.25rem;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .discover-coffee__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-right: 0;
  }

  .discover-coffee__image {
    display: none;
  }

  .coffee-style__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .different__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .coffee-style__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .different__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
@supports (margin-right: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-right: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-right: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .menu__item:not(:last-child) {
    margin-right: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem )) {
    .header__links {
      gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.0632022472rem  +  2.808988764vw , 2.1875rem )) {
    .header__links {
      gap: calc(0.625rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 5rem , 3.1573033708rem  +  9.2134831461vw , 10.125rem )) {
    .footer__main {
      padding-top: clamp( 5rem , 3.1573033708rem  +  9.2134831461vw , 10.125rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.1573033708rem  +  9.2134831461vw , 10.125rem )) {
    .footer__main {
      padding-top: calc(5rem + 5.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0308988764rem  +  6.404494382vw , 4.8125rem )) {
    .footer__main {
      padding-bottom: clamp( 1.25rem , -0.0308988764rem  +  6.404494382vw , 4.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0308988764rem  +  6.404494382vw , 4.8125rem )) {
    .footer__main {
      padding-bottom: calc(1.25rem + 3.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem ))) {
    .footer__main {
      -webkit-column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem );
         -moz-column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem );
              column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -0.2085674157rem  +  5.7303370787vw , 4.125rem ))) {
    .footer__main {
      -webkit-column-gap: calc(0.9375rem + 3.1875 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.9375rem + 3.1875 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.9375rem + 3.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 8.75rem , 6.952247191rem  +  8.9887640449vw , 13.75rem )) {
    .main-coffee__title span {
      font-size: clamp( 8.75rem , 6.952247191rem  +  8.9887640449vw , 13.75rem );
    }
}

@supports not (font-size: clamp( 8.75rem , 6.952247191rem  +  8.9887640449vw , 13.75rem )) {
    .main-coffee__title span {
      font-size: calc(8.75rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__discover-coffee {
      padding-top: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__discover-coffee {
      padding-top: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__discover-coffee {
      padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__discover-coffee {
      padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2rem , 1.5056179775rem  +  2.4719101124vw , 3.375rem )) {
    .header-style__title {
      font-size: clamp( 2rem , 1.5056179775rem  +  2.4719101124vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.5056179775rem  +  2.4719101124vw , 3.375rem )) {
    .header-style__title {
      font-size: calc(2rem + 1.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__different {
      padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .page__different {
      padding-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .amazing {
      margin-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7064606742rem  +  5.8426966292vw , 5.125rem )) {
    .amazing {
      margin-bottom: calc(1.875rem + 3.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem )) {
    .amazing__body {
      padding-top: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem )) {
    .amazing__body {
      padding-top: calc(5rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem )) {
    .amazing__body {
      padding-bottom: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 3.7640449438rem  +  6.1797752809vw , 8.4375rem )) {
    .amazing__body {
      padding-bottom: calc(5rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .amazing__title {
      font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .amazing__title {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 5rem , 3.6966292135rem  +  6.5168539326vw , 8.625rem )) {
    .page__perfection {
      margin-bottom: clamp( 5rem , 3.6966292135rem  +  6.5168539326vw , 8.625rem );
    }
}

@supports not (margin-bottom: clamp( 5rem , 3.6966292135rem  +  6.5168539326vw , 8.625rem )) {
    .page__perfection {
      margin-bottom: calc(5rem + 3.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6882022472rem  +  2.808988764vw , 2.8125rem )) {
    .perfection__header {
      margin-bottom: clamp( 1.25rem , 0.6882022472rem  +  2.808988764vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6882022472rem  +  2.808988764vw , 2.8125rem )) {
    .perfection__header {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 5rem , 3.8988764045rem  +  5.5056179775vw , 8.0625rem )) {
    .slogan {
      padding-top: clamp( 5rem , 3.8988764045rem  +  5.5056179775vw , 8.0625rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.8988764045rem  +  5.5056179775vw , 8.0625rem )) {
    .slogan {
      padding-top: calc(5rem + 3.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 5rem , 4.5280898876rem  +  2.3595505618vw , 6.3125rem )) {
    .slogan {
      padding-bottom: clamp( 5rem , 4.5280898876rem  +  2.3595505618vw , 6.3125rem );
    }
}

@supports not (padding-bottom: clamp( 5rem , 4.5280898876rem  +  2.3595505618vw , 6.3125rem )) {
    .slogan {
      padding-bottom: calc(5rem + 1.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .subscribe__container {
      padding-top: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .subscribe__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .subscribe__container {
      padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6011235955rem  +  4.4943820225vw , 5rem )) {
    .subscribe__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .header-style__title--colour {
      font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6755617978rem  +  2.2471910112vw , 3.375rem )) {
    .header-style__title--colour {
      font-size: calc(2.125rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: #f7a223;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .card-footer__link:hover {
    text-decoration: underline;
  }
}

.webp .footer{ background: url(../img/footer.webp) 0 80%/cover no-repeat; }

.webp .footer::before{ background-image: url(../img/cofee-footer.webp); }

.webp .footer::after{ background-image: url(../img/cofee-footer.webp); }

.webp .page__amazing{ background: url(../img/bg-coffee.webp) 0 0/cover no-repeat; }

.webp .page__subscribe{ background: url(../img/bg-coffee.webp) 0 0/cover no-repeat; }